<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_user.first_name}}'s Page'</title>
</head>
<body>
    <h1>{{one_user.first_name}}'s Information</h1>
    <p>Full Name: {{one_user.first_name}} {{one_user.last_name}}</p>
    <p>Email: {{ one_user.email}}</p>
    <p>Created On: {{one_user.created_at}}</p>
    <p>Last Updated: {{one_user.upated_at}}</p>
    
        <a href="/users/{{one_user.id}}/edit">Edit</a>  <a href="/users/{{one_user.id}}/delete">Delete</a>

</body>
</html>